{% extends 'base.html' %}
{% load static %}

{% block title %}Все номера – Мускат{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Наши номера</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for room in rooms %}
        <div class="col">
            <div class="card h-100 shadow-sm d-flex flex-column">
                <!-- Обёртка картинки -->
                <div class="room-card-img-wrapper">
                    {% if room.images.first %}
                    <img src="{{ room.images.first.image.url }}" alt="{{ room.name }}">
                    {% else %}
                    <img src="{% static 'images/no-image.jpg' %}" alt="Нет фото">
                    {% endif %}
                </div>

                <!-- Тело карточки -->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ room.name }}</h5>
                    {% if room.average_rating %}
                        <div class="mb-2">
                            {% for i in "12345"|make_list %}
                            {% if forloop.counter <= room.average_rating %}
                                <i class="fas fa-star text-warning"></i>
                            {% else %}
                                <i class="far fa-star text-warning"></i>
                            {% endif %}
                            {% endfor %}
                                <small class="text-muted ms-1">{{ room.average_rating }} ({{ room.reviews_count }} отзывов)
                                </small>
                        </div>
                        {% endif %}
                    <p class="card-text">{{ room.short_description }}</p>

                    <!-- Характеристики -->
                    <ul class="list-unstyled small text-muted mb-2">
                        <li><i class="fas fa-users"></i> Взрослых: {{ room.max_adults }}, детей: {{ room.max_children }}</li>
                        <li><i class="fas fa-bed"></i> {{ room.bed_type }}</li>
                        <li><i class="fas fa-arrows-alt"></i> {{ room.square }} м²</li>
                    </ul>

                    <!-- Цена прижата к низу -->
                    <p class="fw-bold fs-5 mt-auto mb-2">{{ room.price_per_night }} ₽/сутки</p>

                    <!-- Кнопка всегда внизу -->
                    <a href="{% url 'rooms:detail' room.slug %}" class="btn btn-primary w-100">Подробнее</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Нет доступных номеров.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}