{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container py-5">
    <h2>Контакты</h2>
    <div class="row">
        <div class="col-md-6">
            <p><i class="fas fa-map-marker-alt"></i> ул. Гицба, 1, г. Пицунда, Абхазия</p>
            <p><i class="fas fa-phone"></i> +7 (918) 917-77-76</p>
            <p><i class="fas fa-envelope"></i> info@muscat.ru</p>
            <div class="mt-4">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1ae225708a31c9efd0bb0c629695d94e1a113a568c62860ed83ee08d801e27b7&amp;source=constructor"
                 width="1000"
                 height="450"
                 frameborder="0">
                </iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Напишите нам</h5>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="name" class="form-control" placeholder="Ваше имя" required>
                </div>
                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <textarea name="message" class="form-control" rows="4" placeholder="Сообщение" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


